:root {
  /* Fonts */
  --main-font: Poppins, sans-serif;

  /* Text colors */
  --accent-txt-cl: #263238;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --main-txt-cl: #8f95a5;
  --logo-light-txt-cl: #939393;

  /* Bg colors */
  --accent-bg-cl: #263238;

  /* Others */
  --radius-small: 5px;
  --radius-large: 10px;
}

body {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: calc(30 / 20);
  color: var(--main-txt-cl);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
}

button {
  cursor: pointer;
}
/* reset end */

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 236px;

  font-size: 36px;
  line-height: calc(54 / 36);
  color: var(--dark-txt-cl);
}

.header-logo-light {
  color: var(--logo-light-txt-cl);
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  color: var(--accent-txt-cl);
}

.header-btn {
  min-width: 312px;
  min-height: 70px;
  padding: 18px 54px;

  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--dark-txt-cl);

  border: 2px solid var(--accent-txt-cl);
  border-radius: var(--radius-large);
  background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}

/**
  |============================
  | Hero styles
  |============================
*/
